@media only screen and (min-width: 500px)
{
    .img-cloud img
{
    width: 150px;
    height: auto;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)
{
    

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)
{
    .img-cloud img
{
    width: 80px;
    height: auto;
}

.cards{
    height: 70vh ;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px)
{
    
}