body
{
    color: #bfc1c8;
}
:root{
    --main-color:#1e202b;
    --secondary-color:#323544;
    --third-color:#05a2da;
}

/*^ navbar */

nav
{
    background-color: var(--main-color) !important;
}


.navbar-toggler-icon
{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link
{
    color: white;
    text-align: center;
    margin-top: 0.5rem;
}

.nav-link.active
{
    color:var(--third-color) !important;
    border: #05a2da solid 2px;
    border-radius: 50px !important;
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    -ms-border-radius: 50px !important;
    -o-border-radius: 50px !important;
    padding: 8px 15px !important;
    display: inline-block;
}

.navbar-collapse
{
    flex-grow: 0;

}

.nav-link:focus, .nav-link:hover
{
    color: var(--third-color);
    
}

/*^ banner section */
.search button
{
    right:15px;
}

/* Search Section */
.search{
    width: 100%;
    max-width: 800px;
}

.search-section
{
    background-color: var(--secondary-color);
    padding: 20px 0;
}

.search-form
{
    display: flex;
    gap: 10px;
    margin: 0 auto;
}

.search-input
{
    background-color: var(--main-color);
    border:none;
    color: white;
    border-radius: 50px;
    padding: 20px 180px 20px 30px !important;
}

.search-input::placeholder
{
    color: rgba(255, 255, 255, 0.6);
}

.search-input:focus
{
    background-color: var(--main-color);
    color: white;
    box-shadow: 0 0 10px rgba(5, 162, 218, 0.5);
}

.search-btn
{
    background-color: var(--third-color);
    color: white;
    border: none;
    margin-top: 5px;
    border-radius: 50px;
    padding: 15px 40px;
}

.search-btn:hover
{
    background-color: #048cb8;
    color: white;
}

.main .img-background
{
    background-image: url("../imgs/banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    position: relative;
    width: 100%;

}

/** card section  */
.box
{
    top: -2rem;
    height: 100px;
}

.cards
{
    background-color: #1e202b !important;
    height:200vh ;
}

.card .header
{
    padding-top: 10px ;
    padding-inline: 15px ;
    background-color: #2d303d;
}

.card .body{
    min-height: 400px;
    background-color:#323544 ;
}

.card .body2{
    min-height: 400px;
    background-color: #262936;
}

.card .header1{
    padding-top: 10px;
    background-color: #222530;
}

.img-cloud{
    width: 1000px;
    height: 0px;
}

.data p{
    font-size:35px ;
}

.data h1
{
    font-size: 100px ;
}

/** footer section  */

footer{
    background-color: #262936;
    height: 200px;
}

.icon i{
    background-color: var(--main-color);
    width: 30px;
    height: 30px;
    transition: background-color 0.5s, color 0.3s;
    -webkit-transition: background-color 0.5s, color 0.3s;
    -moz-transition: background-color 0.5s, color 0.3s;
    -ms-transition: background-color 0.5s, color 0.3s;
    -o-transition: background-color 0.5s, color 0.3s;
}

.icon i:hover{
    color: white;
    background-color: #05a2da;
}
